# .gitignore - PCaNet
#
# SPDX-FileCopyrightText: Copyright (C) 2022 Frank C Langbein <frank@langbein.org>, Cardiff University
# SPDX-License-Identifier: AGPL-3.0-or-later
*.pyc
__pycache__
cfg.json
/models/jobs/
/TESTS/
/.vscode
/venv/
